.formContainer {
    border: #d2d2d2 solid 1px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    background-color: #FF8C00;
}

.label {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.41px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.textInput{
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    height: 36px;
    padding: 7px 12px;
    border: 0;
    background-color: rgba(118, 118, 128, 0.24);
    border-radius: 10px;
    width: 343px;
    box-sizing: border-box;
}

.error{
    color: #ee1f48;
}

