.projectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #d2d2d2 solid 1px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background-color: #BB8A52;

}
.title {
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    margin-left: 20px;
}
.link {
    color: #FFFFFF;
    text-decoration: none;
}
