.radioContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.radio {
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    height: 36px;
    padding: 7px 12px;
    border: 0;
    background-color: rgba(118, 118, 128, 0.24);
    border-radius: 10px;
    width: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.radioActive{
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    height: 36px;
    padding: 7px 12px;
    border: 0;
    background-color: #FFBA00;
    border-radius: 10px;
    width: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.radio:hover {
    color: #666;
}

.error{
    color: #ee1f48;
}
